/*
	$$$$$$$\            $$\                     $$\                    $$\       $$\ $$\ $$\   $$\
	$$  __$$\           $$ |                    \__|                   $$ |      \__|$$ |\__|  $$ |
	$$ |  $$ | $$$$$$\  $$ | $$$$$$\   $$$$$$\  $$\ $$$$$$$$\ $$$$$$\  $$$$$$$\  $$\ $$ |$$\ $$$$$$\   $$\   $$\
	$$$$$$$  |$$  __$$\ $$ | \____$$\ $$  __$$\ $$ |\____$$  |\____$$\ $$  __$$\ $$ |$$ |$$ |\_$$  _|  $$ |  $$ |
	$$  ____/ $$ /  $$ |$$ | $$$$$$$ |$$ |  \__|$$ |  $$$$ _/ $$$$$$$ |$$ |  $$ |$$ |$$ |$$ |  $$ |    $$ |  $$ |
	$$ |      $$ |  $$ |$$ |$$  __$$ |$$ |      $$ | $$  _/  $$  __$$ |$$ |  $$ |$$ |$$ |$$ |  $$ |$$\ $$ |  $$ |
	$$ |      \$$$$$$  |$$ |\$$$$$$$ |$$ |      $$ |$$$$$$$$\\$$$$$$$ |$$$$$$$  |$$ |$$ |$$ |  \$$$$  |\$$$$$$$ |
	\__|       \______/ \__| \_______|\__|      \__|\________|\_______|\_______/ \__|\__|\__|   \____/  \____$$ |
	                                                                                                   $$\   $$ |
	                                                                                                   \$$$$$$  |
	                                                                                                    \______/
*/

.qg_polarizability_model {
	color: #778291;
}

.qg_polarizability_controls select {
	font-size: 12pt;
}

.qg_blurred .qg_polarizability_model {
	opacity: .5;
}
