
.icon-resize-small:before { content: '\e800'; } /* '' */
.icon-resize-full:before { content: '\e801'; } /* '' */
.icon-zoom-in:before { content: '\e802'; } /* '' */
.icon-zoom-out:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-floppy:before { content: '\e806'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-trash-empty:before { content: '\e808'; } /* '' */
.icon-folder-open:before { content: '\e809'; } /* '' */
.icon-folder:before { content: '\e80a'; } /* '' */
.icon-plus-circled:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-minus-circled:before { content: '\e80d'; } /* '' */
.icon-help-circled:before { content: '\e80e'; } /* '' */
.icon-info-circled:before { content: '\e80f'; } /* '' */
.icon-link:before { content: '\e810'; } /* '' */
.icon-cog:before { content: '\e811'; } /* '' */
.icon-wrench:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-pencil:before { content: '\e814'; } /* '' */
.icon-attention:before { content: '\e815'; } /* '' */
.icon-attention-circled:before { content: '\e816'; } /* '' */
.icon-scissors:before { content: '\e817'; } /* '' */
.icon-left-open:before { content: '\e818'; } /* '' */
.icon-right-open:before { content: '\e819'; } /* '' */
.icon-export:before { content: '\e81a'; } /* '' */
.icon-ccw:before { content: '\e81b'; } /* '' */
.icon-left-big:before { content: '\e81c'; } /* '' */
.icon-down-big:before { content: '\e81d'; } /* '' */
.icon-right-big:before { content: '\e81e'; } /* '' */
.icon-up-big:before { content: '\e81f'; } /* '' */
.icon-arrows-cw:before { content: '\e820'; } /* '' */
.icon-graphnode-big:before { content: '\e821'; } /* '' */
.icon-graphlink:before { content: '\e822'; } /* '' */
.icon-carbon:before { content: '\e823'; } /* '' */
.icon-nitrogen:before { content: '\e824'; } /* '' */
.icon-oxygen:before { content: '\e825'; } /* '' */
.icon-sulphur:before { content: '\e826'; } /* '' */
.icon-graphnode:before { content: '\e827'; } /* '' */
.icon-target:before { content: '\e828'; } /* '' */
.icon-qgr:before { content: '\e829'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-object-group:before { content: '\f247'; } /* '' */
.icon-object-ungroup:before { content: '\f248'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */