<div class="centering">
<h2>Cookie policy</h2>
<p>At the moment quantumgraphs.com stores cookies on your computer for three reasons:</p>
<ol>
	<li>Storing the quantumgraphs.com app on your computer for easy offline access.</li>
	<li>Remembering whether you have dismissed the cookie policy information bar.</li>
	<li>Saving your graphs, so they may reappear whenever you revisit the site. This is not fully implemented yet, so you do not have to worry about this at the moment. However, it will be implemented in the future.</li>
	<li>Tracking user behaviour so I can optimize the site based on how you use it.</li>
</ol>
<p>You can delete the stored content in the following way:</p>
<ol>
	<li>The quantumgraphs.com app can be deleted by <a href="https://duckduckgo.com/?q=how+to+clear+my+application+cache&ia=web"purging quantumgraphs.com from your Application Cache</a>.</li>
	<li>Our cookie policy cookie can be deleted like any simple cookie.</li>
	<li>The graphs can be deleted by removing all IndexedDBs or WebSQL databases associated with the site. If you use an old browser you may also have to delete LocalStorage.</li>
	<li>Tracking is currently done with Google Analytics. You can install an addon to avoid being tracked in this way. Read more at <a href="https://support.google.com/analytics/answer/181881?hl=en&ref_topic=2919631">Google Analytics help</a>.</li>
</ol>
</div>