 /*
 	 $$$$$$\        $$\       $$\ $$\      $$\ $$\       $$\                      $$\
 	$$  __$$\       $$ |      $$ |$$ | $\  $$ |\__|      $$ |                     $$ |
 	$$ /  $$ | $$$$$$$ | $$$$$$$ |$$ |$$$\ $$ |$$\  $$$$$$$ | $$$$$$\   $$$$$$\ $$$$$$\    $$$$$$$\
 	$$$$$$$$ |$$  __$$ |$$  __$$ |$$ $$ $$\$$ |$$ |$$  __$$ |$$  __$$\ $$  __$$\\_$$  _|  $$  _____|
 	$$  __$$ |$$ /  $$ |$$ /  $$ |$$$$  _$$$$ |$$ |$$ /  $$ |$$ /  $$ |$$$$$$$$ | $$ |    \$$$$$$\
 	$$ |  $$ |$$ |  $$ |$$ |  $$ |$$$  / \$$$ |$$ |$$ |  $$ |$$ |  $$ |$$   ____| $$ |$$\  \____$$\
 	$$ |  $$ |\$$$$$$$ |\$$$$$$$ |$$  /   \$$ |$$ |\$$$$$$$ |\$$$$$$$ |\$$$$$$$\  \$$$$  |$$$$$$$  |
 	\__|  \__| \_______| \_______|\__/     \__|\__| \_______| \____$$ | \_______|  \____/ \_______/
 	                                                         $$\   $$ |
 	                                                         \$$$$$$  |
 	                                                          \______/
 */

.qg_add_widget {
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 38px;
	left: 0;
}