/*
	 $$$$$$\                      $$\     $$\                         $$\
	$$  __$$\                     $$ |    $$ |                        \__|
	$$ /  \__| $$$$$$$\ $$$$$$\ $$$$$$\ $$$$$$\    $$$$$$\   $$$$$$\  $$\ $$$$$$$\   $$$$$$\
	\$$$$$$\  $$  _____|\____$$\\_$$  _|\_$$  _|  $$  __$$\ $$  __$$\ $$ |$$  __$$\ $$  __$$\
	 \____$$\ $$ /      $$$$$$$ | $$ |    $$ |    $$$$$$$$ |$$ |  \__|$$ |$$ |  $$ |$$ /  $$ |
	$$\   $$ |$$ |     $$  __$$ | $$ |$$\ $$ |$$\ $$   ____|$$ |      $$ |$$ |  $$ |$$ |  $$ |
	\$$$$$$  |\$$$$$$$\\$$$$$$$ | \$$$$  |\$$$$  |\$$$$$$$\ $$ |      $$ |$$ |  $$ |\$$$$$$$ |
	 \______/  \_______|\_______|  \____/  \____/  \_______|\__|      \__|\__|  \__| \____$$ |
	                                                                                $$\   $$ |
	                                                                                \$$$$$$  |
	                                                                                 \______/
*/

.qg_scattering_model {
	color: #778291;
}

.qg_blurred .qg_scattering_model {
	opacity: .5;
}

.qg_blurred .qg_scattering_slider {
	display: none;
}

.qg_scattering_slider {
	padding: 0 38px;
}