<style>
/* we need to add some spacing between setups */
html .qg {
	margin: 0 auto 22px auto;
	/*border: 1px solid #ccc;*/
	max-width: 1120px;
}

.qg_loading {
	text-align: center;
	padding: 20px;
	font-size: 20pt;
	background-color: #3080e8;;
	color: #f9fafc;
	margin: 20px;
}

.qg_hidden { display: none; }

.plus {
	color: #324258;
	background-color: #F0F0F0;
	font-size: 70px;
	line-height: 70px;
	font-weight: bold;
	display: inline-block;
	margin: 0 auto .6em ;
	padding: 5px 80px;
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid #F0F0F0;
	transition: background-color 100ms linear, box-shadow 100ms linear;
}

.plus:hover {
	background-color:#324258;
	color:#F0F0F0;
}

.plus:active {
	top: 1px;
}

.small {
	font-size: .5em;
	margin: 0.5em auto;
}
</style>