<div class="centering">
<h2>History</h2>
<p>
	Quantum Graphs is a web utility that calculates eigenvalues and eigenfunctions for graphs and presents them graphically. It also calculates Green's function and Transmission functions based on complex contacting geometries.
</p>

<p>
	The idea originates with my Ph.D. supervisor, Per Hedegård, who built a similar bur cruder graphical explorer in VB script, and used it as an exploration tool for his molecular theory research.
</p>

<p>
	The Quantum Graphs App started out as huckelmethod.com, and focused in the beginning on simple models for molecules. It was put together during Christmas 2013, but I did a major overhaul of the code in November 2014 as part of my work at the department of Chemistry at the University of Copenhagen.
</p>

<p>
	During summer 2016 major updates was done to the code and it was released as quantumgraphs.com.
</p>

<p>Comments and questions are welcome at <a href="mailto:quantumgraphs@gmail.com">quantumgraphs@gmail.com</a>.</p>
</div>

<div class="centering">
<h2>Credit</h2>
<p>
	I have used some great tools and libraries, and a lot of the credit goes their way. Here I list them all in random order (released under a MIT license unless otherwise noted):
</p>
<ul>
	<li><a href="http://www.numericjs.com/">Numeric Javascript</a> by Sébastien Loisel.</li>
	<li><a href="https://github.com/konvajs/konva/">Konva</a> forked from Kineticjs by Eric Rowell, and maintained by Anton Lavrenov.</li>
	<li><a href="http://www.flotcharts.org/">Flot</a> &ndash; started by Ole Laursen.</li>
	<li><a href="http://www.jquery.com/">jQuery</a> &ndash; founded by John Resig.</li>
	<li><a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> by Dave Gandy.</li>
	<li><a href="http://refreshless.com/nouislider/">noUISlider</a> (WTFPL license) by Léon Gersen.</li>
	<li><a href="https://github.com/Sage/jsurl">jsurl</a> by Bruno Jouhier.
	<li><a href="https://khan.github.io/KaTeX">KaTeX</a> by Emily Eisenberg and Ben Alpert from Khan Academy.</li>
</ul>

<p>/Kim G. L. Pedersen, 2017.</p>
</div>