/* Dialog */

.qg_popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	text-align: center;
}

.qg_blur {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: black;
	opacity: .0001;
	-webkit-transition: all .2s ease-out; 
	-moz-transition: all .2s ease-out; 
	-o-transition: all .2s ease-out; 
	transition: all .2s ease-out;
}

.qg_dialog {
	z-index: 10;
	width: 500px;
	margin: 130px auto 150px;
	text-align: left;
	background: #fafafa;
	position: relative;
	/*border-radius: 2px;*/
	box-shadow: 0 0 20px #444;
	opacity: 0.001;
	-webkit-transition: all .2s ease-out; 
	-moz-transition: all .2s ease-out; 
	-o-transition: all .2s ease-out; 
	transition: all .2s ease-out;
}

.qg_dialog p {
	line-height: 1.4em;
}

.qg_dialog form {
	display: inline-block;
}

.qg_dialog input, .qg_dialog select {
	padding: 2px;
	font-size: 12pt;
	margin: 0 5px;
	display: inline-block;
}

.qg_dialog_close {
	position: absolute;
	font-size: 14pt;
	top: 5px;
	right: 10px;
	padding: 5px;
	color: #f9fafc;
	cursor: pointer;
}

.qg_dialog_close:hover {
	color: black;
	cursor: pointer;
}

.qg_dialog_title {
	font-weight: 800;
	color: white;
	font-size: 14pt;
	background-color: #3080e8;
	padding: 10px 12px;
	/*border-radius: 2px 2px 0 0;*/
}

.qg_dialog .qg_dialog_content {
	padding: 15px 15px;
	overflow-y: scroll;
}


.qg_dialog .qg_dialog_content p:first-child {
	margin-top: 2px;
}

.qg_dialog_content textarea {
	font-family: Courier;
	font-size: 9pt;
	width: 98%;
	height: 200px;
	overflow: auto;
	border: 4px solid #ccc;
	outline: none;
	/*white-space: nowrap; */
}

.qg_dialog .qg_dialog_sections {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.qg_dialog .qg_dialog_sections li {
	margin: 0 -15px 0 -15px;
	padding: 14px 15px;
	border-top: 1px solid #ddd;
}
